<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Inventary - Agregar Rol</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/Inventory.png') }}"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/usuario.css') }}"
    />
  </head>
  <body>
    <header>
      <button class="btn-volver" onclick="window.history.back()">←</button>
      <div class="titulo">Agregar Rol</div>
    </header>
    <main>
      <div class="form-container">
        <form method="POST">
          <div class="form-group">
            <label for="nombre" class="form-label">Nombre del Rol:</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              required
            />
          </div>

          <div class="form-group">
            <label for="descripcion" class="form-label">Descripción:</label>
            <textarea
              class="form-control"
              id="descripcion"
              name="descripcion"
            ></textarea>
          </div>

          <div class="boton">
            <button type="submit" class="btn-guardar">Agregar Rol</button>
          </div>
          <div class="boton">
            <a href="{{ url_for('roles.lista_roles') }}" class="btn-cancelar"
              >Cancelar</a
            >
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
